@{
    ViewData["Title"] = "Startsida";
}
<div class="text-center">
    <h1 class="display-4">Välkommen till LexiconLMS</h1>
    <div class="item">
        <div class="container-fluid">
            <img class="img-fluid" src="~/images/byggnad.jpg" alt="">
        </div>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>