@model LexiconLMS.Models.ActivityType

@{
    ViewData["Title"] = "Radera";
}

<h3>Radera: OBS! Du får inte radera en aktivitetstyp om det finns aktiviteter med enna aktivitetstyp!</h3>
<h3>Är du säker på att du vill radera denna aktivitetstyp?</h3>
<div>
    @*<h4>ActivityType</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index" class="badge badge-primary">Tillbaka till aktivitetstyplistan</a>
    </form>
</div>
