@model LexiconLMS.Models.ActivityType

@{
    ViewData["Title"] = "Detaljer ";
}

<h3>Detaljer aktivitetstyp</h3>

<div>
    @*<h4>ActivityType</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="badge badge-success">Ändra</a> |
    <a asp-action="Index" class="badge badge-primary">Tillbaka till aktivitetstyplistan</a>
</div>
